.post {
  display: flex;
  position: relative;
  border: 2px double purple;
  border-radius: 8px;
  background-color: AntiqueWhite;
  gap: 8px;
  padding: 8px;
  max-width: 1000px;     /* Optional: limits the width on larger screens */
}

.top-right-image {
  position: absolute;
  top: 0px;
  right: 10px;
  width: 60px;
  height: auto;
  display: block;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 0.5rem; /* adds space below handle */
}

.text {
  white-space: pre-line;
  margin-bottom: 0.5rem; /* adds space below handle */
}

.authorName {
  font-weight: 700;
}

.handle {
  font-weight: light;
}

.avatar {
  width: 90px;
  height: 90px;
}

.image {
  max-width: 80%; 
  height: auto; 
}
