.reply {
  display: flex;
  border: 2px double purple;
  border-radius: 8px;
  background-color: oldlace;
  gap: 8px;
  padding: 8px;
  margin-left: auto;
  width: 80%;           /* Takes up 80% of the parent container */
  min-width: 300px;     /* Ensures it doesn't shrink smaller than 300px */
  max-width: 1000px;     /* Optional: limits the width on larger screens */
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 0.5rem; /* adds space below handle */
}

.text {
  white-space: pre-line;
  margin-bottom: 0.5rem; /* adds space below handle */
}

.authorName {
  font-weight: 700;
}

.handle {
  font-weight: light;
}

.avatar {
  width: 45px;
  height: 45px;
}

.image {
  max-width: 80%; 
  height: auto; 
}
